{
 :server  {:port 9000 :auto-reload false}

 :backend {:type :kafka-docker :topic "%%OUTPUT_TOPIC||ingestion%%"
           :docker {:link "kafka.*" :port "9092" :to "metadata.broker.list"} }

 :tracking {:enabled %%TRACKING_ENABLED||false%% :type :riemann
            :host "%%[addr]>RIEMANN:5555||localhost%%"
            :port %%[port]>RIEMANN:5555||5555%%
            :prefix "samsara.ingestion.%%HOSTNAME||ingestion%%" }

}
