{:topics
 {:job-name "Samsara"
  :input-topic "ingestion"
  :output-topic "events"
  ;; a CSV list of hosts and ports (and optional path)
  :zookeepers "127.0.0.1:2181"
  ;; a CSV list of host and ports of kafka brokers
  :brokers "127.0.0.1:9092"
  :offset :smallest
  :samza-overrides { :task.checkpoint.replication.factor 1 }
  }

 :index
 {:strategy :single :base-index "events"}

 :tracking {:enabled true :type :console
            :reporting-frequency-seconds 600}}
