{:job-name "Samsara"
 :input-topic "events"
 :output-topic "messages"
 ;; a CSV list of hosts and ports (and optional path)
 :zookeepers "127.0.0.1:2181"
 ;; a CSV list of host and ports of kafka brokers
 :brokers "127.0.0.1:9092"
 :offset :smallest}
