{:streams
 [{:id           :ingestion
   :input-topic  "ingestion"
   :state        :partitioned
   :output-topic "events"}

  #_{:id          :dim1
   :input-topic "dimension1"
   :state       :global
   :bootstrap   true}]

 :job
 {:job-name "Samsara"
  ;; a CSV list of hosts and ports (and optional path)
  :zookeepers "127.0.0.1:2181"
  ;; a CSV list of host and ports of kafka brokers
  :brokers "127.0.0.1:9092"
  :offset :smallest
  :samza-overrides { :task.checkpoint.replication.factor 1 }
  }

 :tracking {:enabled true :type :console
            :reporting-frequency-seconds 600}}
