{:topics
  {:job-name "%%JOB_NAME%%"
   :input-topic "%%INPUT_TOPIC%%"
   :output-topic "%%OUTPUT_TOPIC%%"
   ;; a CSV list of hosts and ports (and optional path)
   :zookeepers "%%ZOOKEEPER_PORT_2181_TCP_ADDR%%:%%ZOOKEEPER_PORT_2181_TCP_PORT%%"
   ;; a CSV list of host and ports of kafka brokers
   :brokers "%%KAFKA_PORT_9092_TCP_ADDR%%:%%KAFKA_PORT_9092_TCP_PORT%%"
   :offset %%OFFSET_RESET%%
   :samza-overrides
   { %%SAMZA_CONFIG%% }
  }
 :index
 {:strategy %%INDEX_STRATEGY%%
  :base-index "%%INDEX_BASE_NAME%%"
  :event-type "%%INDEX_EVENT_TYPE%%"}

 :tracking {:enabled %%TRACKING_ENABLED%% :type :riemann
            :host "%%RIEMANN_PORT_5555_TCP_ADDR%%"
            :port %%RIEMANN_PORT_5555_TCP_PORT%%
            :prefix "samsara.core.%%HOSTNAME%%"}}
