export SPARK_LOCAL_IP=%%IP%%
export SPARK_PUBLIC_DNS=%%IP%%
export SPARK_WORKER_PORT=%%SPARK_WORKER_PORT||7078%%
export SPARK_WORKER_WEBUI_PORT=%%SPARK_WORKER_WEBUI_PORT||8081%%
export SPARK_LOCAL_DIRS=/data
export SPARK_WORKER_DIR=/data
export SPARK_MASTERS=%%>>SPARK_MASTER.*:7077%%
export STANDALONE_SPARK_MASTER_HOST=%%>>SPARK_MASTER.*:7077%%
export SPARK_MASTER_IP=%%>>SPARK_MASTER.*:7077%%
