export SPARK_LOCAL_IP=0.0.0.0
export SPARK_PUBLIC_DNS=%%IP%%
export SPARK_WORKER_PORT=%%SPARK_WORKER_PORT%%
export SPARK_WORKER_WEBUI_PORT=%%SPARK_WORKER_WEBUI_PORT%%
export SPARK_LOCAL_DIRS=/data
export SPARK_WORKER_DIR=/data
export SPARK_MASTERS=%%SPARK_MASTERS%%
export STANDALONE_SPARK_MASTER_HOST=%%SPARK_MASTERS%%
export SPARK_MASTER_IP=%%SPARK_MASTERS%%
