#export SPARK_MASTER_IP=`ip ro get 8.8.8.8 | grep -oP "(?<=src )(\S+)"`
export SPARK_MASTER_IP=`hostname`
export SPARK_LOCAL_IP=0.0.0.0
export SPARK_PUBLIC_DNS=%%IP%%
export SPARK_MASTER_PORT=%%SPARK_MASTER_PORT%%
export SPARK_MASTER_WEBUI_PORT=%%SPARK_MASTER_WEBUI_PORT%%
export SPARK_WORKER_PORT=%%SPARK_WORKER_PORT%%
export SPARK_WORKER_WEBUI_PORT=%%SPARK_WORKER_WEBUI_PORT%%
export SPARK_LOCAL_DIRS=/data
export SPARK_WORKER_DIR=/data
export SPARK_DAEMON_JAVA_OPTS="-Dspark.deploy.recoveryMode=ZOOKEEPER -Dspark.deploy.zookeeper.url=%%ZOOKEEPER_PORT_2181_TCP_ADDR%%"
