[program:kafka]
process_name=kafka
command=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
environment = LOG_DIR="/logs",KAFKA_HEAP_OPTS="%%KAFKA_HEAP_OPTS||-Xmx256M%%"
stdout_logfile = /logs/kafka-server.out
stderr_logfile = /logs/kafka-server.out
redirect_stderr=true
user = root
startsecs = 10
startretries = 5
autorestart=true
stopasgroup=true

