{:kafka-source {:zookeeper-connect  "docker:2181"
                :auto-offset-reset  :earliest ; Can only be earliest or latest
                }
 :topics {"events" :all}
 :elasticsearch-target {:end-point "http://docker:9200"}

 :tracking {:enabled true :type :riemann
            :host "docker"
            :port 5555}

 :logging-options {:min-level :info
                   :path "/tmp/qanal.log"}}
