cluster.name: samsara
index.number_of_replicas: %%ELS_NUMBER_OF_REPLICAS||2%%
path.data: /data/els/data
path.work: /data/els/work
path.logs: /logs
path.plugins: /opt/els/plugins
transport.tcp.compress: true
# TODO: this one probably needs to be configurable
# discovery.zen.minimum_master_nodes: 2 / quorum
discovery.zen.minimum_master_nodes: 1
http.port: 9200
http.publish_host: %%IP%%
http.bind_host: 0.0.0.0
transport.tcp.port: 9300
transport.publish_host: %%IP%%
transport.tcp.bind_host: 0.0.0.0
node.box_type : %%ELS_NODE_TYPE||standard%%

threadpool:
    bulk:
        type: fixed
        queue_size: 1000

# Indices settings
indices.memory.index_buffer_size: 30%

# Indexing Settings for Writes
# TODO: index.refresh_interval: 30s
index.refresh_interval: 3s
index.translog.flush_threshold_ops: 50000

# CLOUD section need to be customiseable
#       different clouds, maybe not needed at all
# cloud:
#     azure:
#         keystore: /etc/elasticsearch/prod-els-keystore.pkcs12
#         password: {{your_password_for_keystore}}
#         subscription_id: {{your_azure_subscription_id}}
#         service_name: {{your_azure_cloud_service_name}}


#discovery:
#    type: com.sonian.elasticsearch.zookeeper.discovery.ZooKeeperDiscoveryModule
#sonian.elasticsearch.zookeeper:
#    settings.enabled: true
#    client.host: %%>>ZOOKEEPER.*:2181%%
#    discovery.state_publishing.enabled: true

cloud:
    aws:
        access_key: %%AWS_ACCESS_KEY||%%
        secret_key: %%AWS_SECRET_KEY||%%
        region: %%AWS_REGION||eu-west%%

repositories:
    s3:
        bucket: %%AWS_REPOS_NAME||samsara-backups%%
        region: %%AWS_REGION||eu-west%%
        access_key: %%AWS_REPOS_ACCESS_KEY||%%
        secret_key: %%AWS_REPOS_SECRET_KEY||%%
        base_path: %%AWS_REPOS_BASE_PATH||/samsara%%
        compress: true
        max_retries: 10

