[program:els]
process_name=els
command=/opt/els/bin/elasticsearch -Des.insecure.allow.root=true --path.home=/opt/els --path.logs=/logs --path.data=/data/els/data --path.work=/data/els/work --path.conf=/opt/els/config
environment = ES_HEAP_SIZE="%%ELS_HEAP_SIZE%%"
stdout_logfile = /logs/els-server.out
stderr_logfile = /logs/els-server.out
redirect_stderr=true
user = root
startsecs = 10
startretries = 5
autorestart=true
stopasgroup=true
