{:kafka-source {:zookeeper-connect  "127.0.0.1:2181"
                :connect-retry      5000
                :group-id           "qanal"
                :topic "river"
                :partition-id 0
                :auto-offset-reset  :earliest ; Can only be earliest or latest
                :fetch-size         10485760                ;size in bytes
                }
 :elasticsearch-target {:end-point "http://127.0.0.1:9200"}
 :riemann-host "127.0.0.1"                                             ;The riemann host to push metrics to .. can be nil
 :logging-options {:min-level :info
                   :path "/var/log/qanal.log"                        ;full path name for the file
                   :max-size 15360                          ;size in bytes
                   :backlog 10}}
