{:kafka-source {:zookeeper-connect  "127.0.0.1:49159"
                :connect-retry      5000
                :group-id           "Hopi"
                :topic "test"
                :partition-id 0
                :auto-offset-reset  :earliest ; Can only be earliest or latest
                :fetch-size         (* 10 1024 1024)}
 :elasticsearch-target {:end-point "http://127.0.0.1:9200"}}